<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nuevo producto</h1>
    <form th:action="@{/productos/save}" th:object="${producto}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombreIJGZ">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombreIJGZ}" id="nombreIJGZ" placeholder="Escriba aquí el nombre del producto." required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/productos}">Regresar</a>
    </form>
</div>
</html>