<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del Detalle de Orden</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.id}"></dd>

            <dt class="col-sm-2">Producto</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.productoIJGZ.nombreIJGZ}"></dd>

            <dt class="col-sm-2">Orden</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.ordenIJGZ.id}"></dd>
            
            <dt class="col-sm-2">Fecha de Orden</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.ordenIJGZ.fechaIJGZ}"></dd>

            <dt class="col-sm-2">Cantidad</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.cantidadIJGZ}"></dd>

            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.precioIJGZ}"></dd>
        </dl>

        <a th:href="@{/detallesOrden}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
</html>
