<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar orden</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${orden.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${orden.fechaIJGZ}"></dd>
        </dl>

        <form th:action="@{/ordenes/delete}" method="post">
            <input type="hidden" name="Id" th:value="${orden.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/ordenes}">Regresar</a>
        </form>

    </div>
</div>