<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles de la orden</h1>
    
    <!-- Mensajes de error y éxito -->
    <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
    <div th:if="${msg}" class="alert alert-success" role="alert" th:text="${msg}"></div>

    <!-- Información de la marca -->
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${orden.id}"></dd>

            <dt class="col-sm-2">Fecha</dt>
            <dd class="col-sm-10" th:text="${orden.fechaIJGZ}"></dd>
        </dl>

        <!-- Botones de acción -->
        <a th:href="@{/ordenes/edit/{id}(id=${orden.id})}" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/ordenes}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
</html>