<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar orden</h1>
    <form th:action="@{/ordenes/save}" th:object="${orden}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaIJGZ">Fecha</label>
                    <input type="date" class="form-control" th:field="*{fechaIJGZ}" id="fechaIJGZ" placeholder="Seleccione fecha" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button> |
        <a th:href="@{/ordenes}">Regresar</a>
    </form>
</div>